<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesktopApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DesktopApp1.Properties.Settings>
            <setting name="SaveLocationTwrp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveLocationZipFileTwrp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveLocationSideLoadZip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TwrpInstalled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveLocationTwrpLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveLocationZipFileTwrpLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveLocationSideLoadZipLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveFlashImgLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_global_ShowConsole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Settings_global_UseStickyWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnorePhoneModel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ADBLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ADBLocationHistory" serializeAs="String">
                <value />
            </setting>
            <setting name="Files" serializeAs="String">
                <value>\Programs\</value>
            </setting>
            <setting name="SaveFlashImg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowConsole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImagesLocation" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="ImagesLocationIsCustom" serializeAs="String">
                <value>False</value>
            </setting>
        </DesktopApp1.Properties.Settings>
    </userSettings>
</configuration>
